
<%@ page import="com.shqiperia.entities.Audience" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'audience.label', default: 'Audience')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-audience" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-audience" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list audience">
			
				<g:if test="${audienceInstance?.additionalType}">
				<li class="fieldcontain">
					<span id="additionalType-label" class="property-label"><g:message code="audience.additionalType.label" default="Additional Type" /></span>
					
						<span class="property-value" aria-labelledby="additionalType-label"><g:fieldValue bean="${audienceInstance}" field="additionalType"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.alternateName}">
				<li class="fieldcontain">
					<span id="alternateName-label" class="property-label"><g:message code="audience.alternateName.label" default="Alternate Name" /></span>
					
						<span class="property-value" aria-labelledby="alternateName-label"><g:fieldValue bean="${audienceInstance}" field="alternateName"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.audienceType}">
				<li class="fieldcontain">
					<span id="audienceType-label" class="property-label"><g:message code="audience.audienceType.label" default="Audience Type" /></span>
					
						<span class="property-value" aria-labelledby="audienceType-label"><g:fieldValue bean="${audienceInstance}" field="audienceType"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.description}">
				<li class="fieldcontain">
					<span id="description-label" class="property-label"><g:message code="audience.description.label" default="Description" /></span>
					
						<span class="property-value" aria-labelledby="description-label"><g:fieldValue bean="${audienceInstance}" field="description"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.geographicArea}">
				<li class="fieldcontain">
					<span id="geographicArea-label" class="property-label"><g:message code="audience.geographicArea.label" default="Geographic Area" /></span>
					
						<span class="property-value" aria-labelledby="geographicArea-label"><g:link controller="administrativeArea" action="show" id="${audienceInstance?.geographicArea?.id}">${audienceInstance?.geographicArea?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.image}">
				<li class="fieldcontain">
					<span id="image-label" class="property-label"><g:message code="audience.image.label" default="Image" /></span>
					
						<span class="property-value" aria-labelledby="image-label"><g:fieldValue bean="${audienceInstance}" field="image"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.name}">
				<li class="fieldcontain">
					<span id="name-label" class="property-label"><g:message code="audience.name.label" default="Name" /></span>
					
						<span class="property-value" aria-labelledby="name-label"><g:fieldValue bean="${audienceInstance}" field="name"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.sameAs}">
				<li class="fieldcontain">
					<span id="sameAs-label" class="property-label"><g:message code="audience.sameAs.label" default="Same As" /></span>
					
						<span class="property-value" aria-labelledby="sameAs-label"><g:fieldValue bean="${audienceInstance}" field="sameAs"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${audienceInstance?.url}">
				<li class="fieldcontain">
					<span id="url-label" class="property-label"><g:message code="audience.url.label" default="Url" /></span>
					
						<span class="property-value" aria-labelledby="url-label"><g:fieldValue bean="${audienceInstance}" field="url"/></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:audienceInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${audienceInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
